@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "Assign Personnel to Flight Schedule";
}

@model web2020apr_p01_assignment_group5.Models.SchedulePersonnel

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assign Personnels to Flight Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->

</head>

<body>
    <div class="container-contact100">

        <div class="wrap-contact100">
            <form asp-action="AssignPersonnel" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Assign Personnel to Flight Schedule
                </span>

                <div class="wrap-input100 input100-select bg1" data-validate="Please select a flight schedule">
                    <span class="label-input100">Flight Schedule *</span>
                    <div>
                        <select required class="js-select2" id="selectedSchedule" onchange="showList(this.value)"
                                asp-items="@ViewData["ScheduleList"] as List<SelectListItem>" asp-for="ScheduleID">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>


                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a flight captain">
                    <span class="label-input100">Flight Captain *</span>
                    <div>
                        <select required class="js-select2" id="selectPilot1" asp-for="StaffIDList[0]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a Flight Pilot">
                    <span class="label-input100">Second Pilot *</span>
                    <div>
                        <select required class="js-select2" id="selectPilot2" asp-for="StaffIDList[1]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a Cabin Crew Leader">
                    <span class="label-input100">Cabin Crew Leader *</span>
                    <div>
                        <select required class="js-select2" id="selectStaff1" asp-for="StaffIDList[2]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a flight attendant">
                    <span class="label-input100">Flight Attendant *</span>
                    <div>
                        <select required class="js-select2" id="selectStaff2" asp-for="StaffIDList[3]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a flight attendant">
                    <span class="label-input100">Flight Attendant *</span>
                    <div>
                        <select required class="js-select2" id="selectStaff3" asp-for="StaffIDList[4]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="wrap-input100 input100-select bg1 rs1-wrap-input100" data-validate="Please select a flight attendant">
                    <span class="label-input100">Flight Attendant *</span>
                    <div>
                        <select required class="js-select2" id="selectStaff4" asp-for="StaffIDList[5]">
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="rs1-wrap-input100">
                    <span style="color:red;font-family: 'Montserrat', sans-serif;">@TempData["Alert"]</span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Assign
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>$(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });

            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please select...") {
                        $('.js-show-service').slideUp();
                    } else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
            document.getElementById("body_container").classList.remove("container-fluid");
        })</script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        var scheduleArr = @Json.Serialize(@ViewData["ScheduleList"]);
        var arr = [];

        @foreach (var item in ViewData["ScheduleStaff"] as IList<AssignPersonnelViewModel>)
        {
            @:arr.push(@Json.Serialize(@item.personnelList));
        }

        console.log(scheduleArr)
        console.log(arr);

        if (scheduleArr.length == 1 && arr.length == 1) {
            initOptionList();
            for (var i = 0; i < arr[0].length; i++) {
                var staff = arr[0][i];
                var opt = `${staff.staffName} (StaffID:${staff.staffId})`;
                var val = staff.staffId;

                if (staff.vocation == "Pilot") {
                    $('#selectPilot1').append(new Option(opt, val));
                    $('#selectPilot2').append(new Option(opt, val));
                } else if (staff.vocation == "Flight Attendant") {
                    $('#selectStaff1').append(new Option(opt, val));
                    $('#selectStaff2').append(new Option(opt, val));
                    $('#selectStaff3').append(new Option(opt, val));
                    $('#selectStaff4').append(new Option(opt, val));
                }
            }
        }
       

        function showList(id) {
            clearOptionList();
            if (id != "") {
                initOptionList();
                var index = scheduleArr.findIndex(x => x.value == id) - 1;
                console.log(index);
                for (var i = 0; i < arr[index].length; i++) {
                    var staff = arr[index][i];
                    var opt = `${staff.staffName} (StaffID:${staff.staffId})` ;
                    var val = staff.staffId;

                    if (staff.vocation == "Pilot") {
                        $('#selectPilot1').append(new Option(opt, val));
                        $('#selectPilot2').append(new Option(opt, val));
                    } else if (staff.vocation == "Flight Attendant") {
                        $('#selectStaff1').append(new Option(opt, val));
                        $('#selectStaff2').append(new Option(opt, val));
                        $('#selectStaff3').append(new Option(opt, val));
                        $('#selectStaff4').append(new Option(opt, val));
                    }
                }
            }
        }

        function clearOptionList() {
            $('#selectPilot1').empty();
            $('#selectPilot2').empty();
            $('#selectStaff1').empty();
            $('#selectStaff2').empty();
            $('#selectStaff3').empty();
            $('#selectStaff4').empty();
        }

        function initOptionList() {
            var opt = "Please select ...";
            $('#selectPilot1').append(new Option(opt, ""));
            $('#selectPilot2').append(new Option(opt, ""));
            $('#selectStaff1').append(new Option(opt, ""));
            $('#selectStaff2').append(new Option(opt, ""));
            $('#selectStaff3').append(new Option(opt, ""));
            $('#selectStaff4').append(new Option(opt, ""));
        }

    </script>


</body>

</html>