@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "Create Flight Schedule Record";
}

@model web2020apr_p01_assignment_group5.Models.FlightSchedule

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Flight Schedule Record</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container-contact100" style="margin-top:56px">

        <div class="wrap-contact100">
            <form asp-action="CreateFlightSchedule" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Create Flight Schedule
                </span>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Enter Flight Number">
                    <span class="label-input100">Flight Number</span>
                    <input class="input100" asp-for="FlightNumber" placeholder="Enter Flight Number">
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Select Route ID">
                    <span class="label-input100">RouteID</span>
                    <select class="js-select2" asp-for="RouteId" asp-items="@(new SelectList(@ViewData["RouteIdList"] as List<String>, "RouteID"))"></select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Select Aircraft ID">
                    <span class="label-input100">AircraftID</span>
                    <select class="js-select2" asp-for="AircraftId" asp-items="@(new SelectList(@ViewData["AircraftIdList"] as List<String>, "AircraftID"))"></select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Enter Valid Departure Date & Time">
                    <span class="label-input100">Departure Date</span>
                    <input class="input100" asp-for="DepartureDateTime" placeholder="Enter Departure Date & Time">
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Enter Economy Price">
                    <span class="label-input100">Economy Class Price</span>
                    <input class="input100" asp-for="EconomyClassPrice" placeholder="Enter Economy Price">
                </div>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Enter Business Price">
                    <span class="label-input100">Business Class Price</span>
                    <input class="input100" asp-for="BusinessClassPrice" placeholder="Enter Business Price">
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            Create
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });

            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please select...") {
                        $('.js-show-service').slideUp();
                    } else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
            document.getElementById("body_container").classList.remove("container-fluid");
        })</script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["alert"]));

        if (message) {
            alert(message);
        }
    </script>


</body>

</html>