@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "View all Personnels and Flights Assigned";
}
@model IEnumerable<web2020apr_p01_assignment_group5.Models.PersonnelViewModel>

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/viewpersonnels.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="~/js/admin.js" type="text/javascript"></script>
</head>

<body>
    <div class="container text-center">

        <div class="row content">

            <h1 class="title">View all Personnels and Flights Assigned <hr /></h1>
            <hr>
        </div>

        @{int i = 1;}
        @foreach (var item in Model)
        {
            <div id="holder@(i)" class="row content holder">

                <span class="staffid">StaffID : @item.StaffId</span>
                <span class="staffname">StaffName: @item.StaffName</span>
                <span class="vocation">Vocation: @item.Vocation</span>
                <span onclick="toggle(@(i))" id="arrow@(i)" class="arrow-down"></span>

            </div>
            
            if (item.flightScheduleList.Count > 0)
            {
                <div id="flights_table@(i)" class="row content" style="display:none;">

                    <table>
                        <tr>
                            <th>ScheduleID</th>
                            <th>FlightNumber</th>
                            <th>RouteID</th>
                            <th>DepartureDateTime</th>
                            <th>ArrivalDateTime</th>
                            <th>Status</th>
                            <th>Role</th>
                        </tr>
                        @foreach (var schedule in item.flightScheduleList)
                        {
                            <tr>
                                <td>@schedule.ScheduleId</td>
                                <td>@schedule.FlightNumber</td>
                                <td>@schedule.RouteID</td>
                                <td>@schedule.DepartureDateTime</td>
                                <td>@schedule.ArrivalDateTime</td>
                                <td>@schedule.Status</td>
                                <td>@schedule.Role</td>
                            </tr>
                        }

                    </table>

                </div>
            }
            i++;

        }
    </div>

</body>

</html>