@{
    Layout = "_AdminMenu";
    ViewData["Title"] = "View all Personnels and Flights Assigned";
}
@model IEnumerable<web2020apr_p01_assignment_group5.Models.PersonnelViewModel>

<link rel="stylesheet" href="~/css/viewpersonnels.css">
<script src="~/js/admin.js" type="text/javascript"></script>

<body>
    <div class="container text-center">

        <div class="row content titleholder">
            <h1 class="title">View all Personnels and Flights Assigned</h1>
        </div>

        <div class="row content">
            <input oninput="updateResult(this.value)" class="search__input" type="text" placeholder="Search" />
            <hr />
        </div>

        <div class="result">

            @{int i = 1;}
            @foreach (var item in Model)
            {
                <div id="holder@(i)" class="row content holder">

                    <span class="staffid">StaffID : @item.StaffId</span>
                    <span class="staffname">StaffName: @item.StaffName</span>
                    <span class="vocation">Vocation: @item.Vocation</span>
                    <span onclick="toggle(@(i))" id="arrow@(i)" class="arrow-down"></span>

                </div>

                <div id="flights_table@(i)" class="row content" style="display:none; overflow-x:auto; margin-top:10px;">
                    @if (item.flightScheduleList.Count > 0)
                    {
                        <table>
                            <tr>
                                <th>ScheduleID</th>
                                <th>FlightNumber</th>
                                <th>RouteID</th>
                                <th>DepartureDateTime</th>
                                <th>ArrivalDateTime</th>
                                <th>Status</th>
                                <th>Role</th>
                            </tr>
                            @foreach (var schedule in item.flightScheduleList)
                            {
                                <tr>
                                    <td>@schedule.ScheduleId</td>
                                    <td>@schedule.FlightNumber</td>
                                    <td>@schedule.RouteId</td>
                                    <td>@schedule.DepartureDateTime</td>
                                    <td>@schedule.ArrivalDateTime</td>
                                    <td>@schedule.Status</td>
                                    <td>@schedule.Role</td>
                                </tr>
                            }

                        </table>

                    }
                    else
                    {
                        <p>No record found!</p>
                    }   
            </div>
                i++;
            }
        </div>

    </div>

    <script type="text/javascript">
        var raw_arr = @Html.Raw(Json.Serialize(Model));

        var arr = [];

        for (i = 0; i < raw_arr.length; i++) {
            arr[i] = raw_arr[i].staffName;
        }

        function updateResult(query) {

            arr.map(function (algo) {
                query.split(" ").map(function (word) {
                    var index = arr.indexOf(algo) + 1;

                    var holdername = "holder" + index;
                    var tablename = "flights_table" + index;
                    var arrowname = "arrow" + i;

                    var holder = document.getElementById(holdername);
                    var table = document.getElementById(tablename);
                    var arrow = document.getElementById(arrowname);

                    if (word == "") {
                        showAll(arr.length)
                        clearFlightTable(arr.length)
                    } else if (algo.toLowerCase().indexOf(word.toLowerCase()) != -1) {
                        holder.style.display = "";
                    }else{
                        holder.style.display = "none";
                        if (table != null) {
                            table.style.display = "none";
                            if (arrow != null) {
                                arrow.style["border-bottom"] = "0px";
                                arrow.style["border-top"] = "16px solid black";
                            }
                           
                        }
                    }
                })
            })
        }

        function showAll(len){
            for (i = 1; i < len+1; i++){
                var holdername = "holder" + i;
                var holder = document.getElementById(holdername);
                holder.style.display = "";
            }
        }

        function clearFlightTable(len){
            for (i = 1; i < len+1; i++){
                var tablename = "flights_table" + i;
                var arrowname = "arrow" + i;

                var table = document.getElementById(tablename);
                var arrow = document.getElementById(arrowname);

                if (table != null) {
                    table.style.display = "none";
                    if (arrow != null) {
                        arrow.style["border-bottom"] = "0px";
                        arrow.style["border-top"] = "16px solid black";
                    }
                   
                }
                
            }
        }


    </script>

</body>
