@{
    Layout = "_CustomerMenu";
    ViewData["Title"] = "Book Air Tickets Personal Details";
}

@model web2020apr_p01_assignment_group5.Models.Booking

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Passenger Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/bookairticketspersonaldetails.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form asp-action="BookAirTicketsPersonalDetails" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Passenger Details
                </span>

                <div class="row">
                    <div class="col-sm-6 text-center">
                        <label asp-for="CustomerId" class="label-input100"></label>
                        <div class="input100">
                            <input class="details-input100" value="@(Context.Session.GetInt32("CustomerID"))" />
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <label asp-for="ScheduleId" class="label-input100"></label>
                        <div class="input100">
                            <input asp-for="ScheduleId" readonly
                                   class="details-input100" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 text-center">
                        <label class="label-input100">Departure City</label>
                        <div class="input100">
                            <input id="DepartureCity" readonly
                                   class="details-input100" />
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <label class="label-input100">Departure Country</label>
                        <div class="input100">
                            <input id="DepartureCountry" readonly
                                   class="details-input100" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 text-center">
                        <label class="label-input100">Arrival City</label>
                        <div class="input100">
                            <input id="ArrivalCity" readonly
                                   class="details-input100" />
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <label class="label-input100">Arrival Country</label>
                        <div class="input100">
                            <input id="ArrivalCountry" readonly
                                   class="details-input100" />
                        </div>
                    </div>
                </div>
                <br><br>
                <label class="label-input100" for="Passenger-Name">Passenger Name *</label>
                <div class="wrap-input100 validate-input">
                    <input id="Passenger-Name" class="input100" asp-for="PassengerName" placeholder="Name as printed on passport">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="Passport-Number">Passport Number *</label>
                <div class="wrap-input100 validate-input">
                    <input id="Passport-Number" class="input100" asp-for="PassportNumber" placeholder="Eg. E1234567A">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="Nationality">Nationality *</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" asp-for="Nationality" placeholder="Enter Your Nationality">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="SeatClass">Seat Class *</label>
                <input id="economyClass" asp-for="SeatClass" type="radio" name="SeatClass" value="Economy" checked onchange="displayAmount()">Economy
                <input id="businessClass" asp-for="SeatClass" type="radio" name="SeatClass" value="Business" onchange="displayAmount()">Business              

                <label asp-for="AmtPayable" class="label-input100"></label>
                <div class="input100">
                    <input asp-for="AmtPayable" readonly
                            class="form-control-plaintext" />                 
                </div>

                <br><br>

                <label class="label-input100" for="Remarks">Remarks</label>
                <div class="wrap-input100">
                    <textarea id="Remarks" class="input100" asp-for="Remarks" placeholder="Please enter your remarks..."></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="row">
                    <label class="label-input100" for="isNextPassenger">Book for next passenger --> <input asp-for="IsNextPassenger" value="false" type="checkbox" /></label>                   
                </div>
                <br><br>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="zmdi zmdi-arrow-right m-l-8"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/js/bookairticketspersonaldetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        var schedule = @Json.Serialize(@ViewData["Schedule"]);
        var economy = document.getElementById("economyClass");
        var business = document.getElementById("businessClass");
        var amount = document.getElementById("AmtPayable");
        var route = @Json.Serialize(@ViewData["Route"]);
        var departureCity = document.getElementById("DepartureCity");
        var departureCountry = document.getElementById("DepartureCountry");
        var arrivalCity = document.getElementById("ArrivalCity");
        var arrivalCountry = document.getElementById("ArrivalCountry");

        function displayAmount() {
            if (economy.checked) {
                $('#AmtPayable').val(schedule.economyClassPrice);
            } else {
                $('#AmtPayable').val(schedule.businessClassPrice);

            }
        }

        $(document).on("click", "[type='checkbox']", function (e) {
            if (this.checked) {
                $(this).attr("value", "true");
            } else {
                $(this).attr("value", "false");
            }
        });

        $('#DepartureCity').val(route.departureCity);
        $('#DepartureCountry').val(route.departureCountry);
        $('#ArrivalCity').val(route.arrivalCity);
        $('#ArrivalCountry').val(route.arrivalCountry);

    </script>
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["alert"]));

        if (message) {
            alert(message);
        }
    </script>
</body>
</html>
