@{
    Layout = "_CustomerMenu";
    ViewData["Title"] = "FlightSchedule";
}
@model IEnumerable<web2020apr_p01_assignment_group5.Models.FlightSchedule>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/bookairticket.css">
    <!--===============================================================================================-->
</head>
<body>
    @if (Model.ToList().Count > 0)
    {
        <div class="container-table100">
            <div class="wrap-table100">
                <h3 class="PageTitle" style="text-align:center"><b>Available Flight Schedule</b></h3>
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Schedule ID</th>
                                <th class="column2">Flight Number</th>
                                <th class="column3">Route ID</th>
                                <th class="column4">Aircraft ID</th>
                                <th class="column5">Departure DateTime</th>
                                <th class="column6">Arrival DateTime</th>
                                <th class="column7">Economy ClassPrice</th>
                                <th class="column8">Business ClassPrice</th>
                                <th class="column9">Status</th>
                                <th class="column10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.Status == "Opened")
                                {
                                    <tr>
                                        <td class="column1">@item.ScheduleId.ToString()</td>
                                        <td class="column2">@item.FlightNumber</td>
                                        <td class="column3">@item.RouteId.ToString()</td>
                                        <td class="column4">@item.AircraftId.ToString()</td>
                                        <td class="column5">@item.DepartureDateTime</td>
                                        <td class="column6">@item.ArrivalDateTime</td>
                                        <td class="column7">@item.EconomyClassPrice</td>
                                        <td class="column8">@item.BusinessClassPrice</td>
                                        <td class="column9">@item.Status</td>
                                        <td class="column10">
                                            <a asp-action="BookAirTicketsPersonalDetails" asp-controller="Customers"
                                               asp-route-id="@item.ScheduleId">Book</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color:red"><h2>No record found!</h2></span>
    }
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script>
        (function ($) {
            "use strict";
        })(jQuery);
    </script>

</body>
</html>