@{
    Layout = "_CustomerMenu";
    ViewData["Title"] = "View Air Tickets Booked";
}
@model IEnumerable<web2020apr_p01_assignment_group5.Models.ViewAirTicketsBooked>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/viewairticketsbooked.css">
    <!--===============================================================================================-->
</head>
<body>
    @if (Model.ToList().Count > 0)
    {
        <div class="container-table100">
            <div class="wrap-table100">
                <h3 class="PageTitle" style="text-align:center"><b>View Air Tickets Booked</b></h3>
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Date Time Created</th>
                                <th class="column2">Booking ID</th>
                                <th class="column3">Passenger Name</th>
                                <th class="column4">Amount Payable</th>
                                <th class="column5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="column1">@item.DateTimeCreated</td>
                                    <td class="column2">@item.BookingId.ToString()</td>
                                    <td class="column3">@item.PassengerName</td>
                                    <td class="column4">$@item.AmtPayable</td>
                                    <td class="column5">
                                        <a asp-action="ViewAirTicketsBookedDetails" asp-controller="Customers"
                                           asp-route-id="@item.BookingId">View Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color:red"><h2>No record found!</h2></span>
    }
    <!--===============================================================================================-->
    <script>
        (function ($) {
            "use strict";
        })(jQuery);
    </script>
    <script>
        var message = @Html.Raw(Json.Serialize(TempData["alert"]));

        if (message) {
            alert(message);
        }
    </script>
</body>
</html>